<div class="posts">

  {%- assign items = site.catalogue | sort: 'released' | reverse -%}
    {%- for catalogue in items limit:{{include.range}} -%}
    <div class="post-teaser">
        <span>
          <header>
            <h1>
              <a aria-label="{{ catalogue.title }}" class="post-link" href="{{ catalogue.url | relative_url }}">
                {{ catalogue.title }}
              </a>
            </h1>
            {% if catalogue.subtitle %}
            <h2 class="subtitle">{{ catalogue.subtitle }}</h2>
            {% endif %}
          </header>
          <div class="excerpt">
              {% if catalogue.cover_image %}
                <img class="thumb" src="{{ catalogue.cover_image| replace: '../uploads', '/uploads' }}" alt="{{ catalogue.title }}" />
              {% endif %}
              {% if catalogue.content contains '<!--more-->' %}
              {{ catalogue.content | split:'<!--more-->' | first }}
            {% else %}
            {{ catalogue.content | markdownify | truncatewords: 50 }}
            {% endif %} 
                  <p class="info"><b>Release Date:</b> {{ catalogue.released | date: "%B %Y" }}</p>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ catalogue.url | relative_url }}">
                <p class="permalink">Read more <i class="fa fa-caret-right fa-2x"></i></p>
              </a>
          </div>
      </span>
    </div>
    {% endfor %}
</div>
