<div class="posts">

  {%- assign items = site.catalogue | sort: 'released' | reverse -%}
    {%- for catalogue in items limit:{{include.range}} -%}
    <div class="post-teaser">
        <span>
          <header>
            <h1>
              <a aria-label="{{ catalogue.title }}" class="post-link" href="{{ catalogue.url | relative_url }}">
                {{ catalogue.title }}
              </a>
            </h1>
            {% if catalogue.subtitle %}
            <h2 class="subtitle">{{ catalogue.subtitle }}</h2>
            {% endif %}
          </header>
          <div class="excerpt">
              {% if catalogue.cover_image %}
                <img class="thumb" src="{{ catalogue.cover_image| replace: '../uploads', '/uploads' }}" alt="{{ catalogue.title }}" />
              {% endif %}
              {{ catalogue.content | truncatewords: 50 | markdownify | replace: "../uploads", "/uploads" | replace: "uploads", "/uploads" | replace: "//", "/" }}
              <span class="permalink">
                <a aria-label="{{ catalogue.title }}" class="post-link" href="{{ catalogue.url | relative_url }}">Read more <i class="fa fa-caret-right fa-2x"></i></a>
              </span>
                  <p class="info"><b>Release Date:</b> {{ catalogue.released | date: "%B %Y" }}</p>
          </div>
      </span>
    </div>
    {% endfor %}
</div>
