<div class="posts">

  {%- assign items = site.events | sort: 'date'  | reverse  -%}
    {%- for event in items limit:{{include.eventsrange}} -%}
    <div class="post-teaser">
        <span>
          <header>
            <h1>
              <a aria-label="{{ event.title }}" class="post-link" href="{{ event.url | relative_url }}">
                {{ event.title }}
              </a>
            </h1>
            <div class="post-info">
              <p class="meta">
                {{ event.date | date: "%B %-d, %Y" }}
              </p>
          </div>
          </header>
          <div class="excerpt newsitem">
            {{ event.content | markdownify | truncatewords: 30 }}
              <a aria-label="{{ event.title }}" class="post-link" href="{{ event.url | relative_url }}">
               <p>Read more</p>
              </a>
          </div>
      </span>
    </div>
    {% endfor %}
</div>