<div class="posts">

  {%- assign items = site.news | sort: 'date' | reverse -%}
    {%- for news in items limit:{{include.newsrange}} -%}
    <div class="post-teaser">
        <span>
          <header>
            <h1>
              <a aria-label="{{ news.title }}" class="post-link" href="{{ news.url | relative_url }}">
                {{ news.title }}
              </a>
            </h1>
            {%- if news.eventdate -%}
            <p class="meta">
              Event date: {{ news.eventdate | date: "%B %-d, %Y" }}
            </p>
            {%- endif -%}
          </header>
          <div class="excerpt newsitem">
                <!-- {{ news.content | markdownify | truncatewords: 60 | remove: "<em>" | remove: "</em>"}} -->
                {{ news.content | markdownify | truncatewords: 60 | strip_html | markdownify }}
                <p class="meta">
                  Date posted: {{ news.date | date: "%B %-d, %Y" }}
                </p>
              <a aria-label="{{ news.title }}" class="post-link" href="{{ news.url | relative_url }}">
                <p class="permalink">Read more <i class="fa fa-caret-right fa-2x"></i></p>
              </a>
          </div>
      </span>
    </div>
    {% endfor %}
</div>