---
layout: default
---
<article id="page-content">
  <header id="main"><span id="user"></span>
      <h1 class="title">{{ page.title }}</h1>
  </header>
  <section class="post-content">
    {% if page.cover_image %}
    <img src="{{ page.cover_image| replace: '../uploads', '/uploads' }}" alt="{{ page.title }}" />
    {% endif %}
    <section class="details">
      {{ content | replace: "../uploads", "/uploads" }}
      {% if page.isbn %}
      <p class="info"><b>ISBNs:</b> {{ page.isbn }}</p>
      {% endif %}
      {% if page.extent %}
      <p class="info"><b>Extent:</b> {{ page.extent }}</p>
      {% endif %}
      {% if page.price %}
      <p class="info"><b>Price:</b> {{ page.price }}</p>
      {% endif %}
      {% if page.released %}
      <p class="info"><b>Release Date:</b> {{ page.released | date: "%B %Y" }}</p>
      {% endif %}
    </section>
  </section>
  <!-- Social media shares -->
  {%- include share_buttons.html -%}
   <!-- Tag list -->
  {%- capture tag_list %}{{ page.tags | join: "|"}}{% endcapture -%}
  {%- include tags_list.html tags=tag_list -%}

</article>
