---
layout: default
---

<main class="home">
<!-- <article class="page-content">
  <section class="post-content">
	{{ content }}
  </section>
</article> -->
  <!-- now we need 2 blocks - one for the recent catalogue entries and one for the latest news -->
<div class="homepage">
  
  <section class="latestcatalogue">
    <h2 class="heading">Recent additions to our catalogue</h2>
    {%- include catalogue.html range="6" -%}
  </section>
  
  <section class="latestnews">
    <h2 class="heading">Some recent news</h2>
    {%- include newsonhomepage.html newsrange="5" -%}
  </section>
</div>
</main>
